html, body{height: 90%;}
body {
  background: url('/static/img/grey.png');
 }

.navbar .container{overflow: visible;}

.paper-wrap {
    display: table;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.cell{
  display: table-cell;
  vertical-align: middle;
}

#paper {
  margin: auto;
}