*{margin: 0;padding: 0;}
#paper{margin:auto;background: #ededed}
#canvas{display: none;}

.container{text-align:center;width:100%; overflow: hidden;}
.container h1{margin: 50px 0 40px;}
.container .name{min-height:110px;margin:0; background:url(../img/name.png) no-repeat;background-position: 50% 35px; }
.container .description{font-weight:100;margin: 5px 0 35px; font-size:16px; }
.container .description p{font-weight: 100;}
.container .main{position:relative;padding:0 0 10px; margin-bottom:-20px; box-shadow:-4px 9px 11px -3px #000; -moz-box-shadow:-4px 9px 11px -3px #000; -webkit-box-shadow:-4px 9px 11px -3px #000;z-index: 1;}
.container .main .explain{color: #bbb;font-size: 11px; font-weight: 100;}
.container .navbar ul{position: relative;list-style-type: none; padding: 10px;background: url(../img/leather.png); margin: 20px 0; box-shadow:-2px 3px 2px 3px #111; -moz-box-shadow:-2px 3px 2px 3px #111; -webkit-box-shadow:-2px 3px 2px 3px #111; }
.container .navbar ul li{display: inline-block; margin: 15px;}
.container .navbar ul li a{color: #ccc;}
.container .content{margin-top:-20px;padding: 1px 0 300px;background: url(../img/subtlenet2.png);}
.container .content h1{text-align: left;}
.container .content #use, #contact, #install{width:70%; margin: 0 auto;}
.container .content .steps-wrap{ padding: 15px 15px 10px; border:solid 1px #ddd; background: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.container .content #use .steps-wrap .step {min-height:400px;width: 28%; margin: 5px; vertical-align:middle;display: inline-block; color: #777;font-size: 12px;}
.container .content #use .steps-wrap .step div{margin:15px 0;width: 100%;}
.container .content #use .steps-wrap .step div:first-child{height: 70%;}
.container .content #use .steps-wrap .step div:last-child{height: 30%;}
.container .content #use .steps-wrap .img-polaroid{margin: 0;}
.container .content #use .steps-wrap .arrow{display: inline-block;}
.container .content #use .steps-wrap .arrow img{margin: -100px 0 0 10px;}
.container .content #install ul{margin-bottom: 0;}
.container .content #install li{width:33%;}
.container .content #install .nav-content{margin-top: 0;background:#fff;padding:10px 30px; text-align: left; border-left: solid 1px #ddd;border-bottom: solid 1px #ddd;border-right: solid 1px #ddd;  -webkit-border-radius: 0 0 4px 4px;-moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;}
.container .content #install .nav-content ul{width: 100%;}
.container .content #install .nav-content ul .img-polaroid{margin: 0;}
.container .content #install .nav-content ul li{list-style-type: none; width: 46%;margin: 1.8%; display: inline-block;}
.container .content #install #windowsinstall li:first-child, #macinstall li:first-child {text-align: center;}
.container .content #contact .steps-wrap{text-align: left;}
.btn-download{min-width:220px;margin:40px auto;padding-top:10px; font-weight:bold; font-size:24px !important;letter-spacing:1px;}

.navbar .btn-primary{float: right;margin: 7px -25px 0 -20px;}
.navbar .ajax{float: right;background: url('../img/ajax.gif');height: 32px;width: 32px;margin: 5px 32px 0;display: none;}
.navbar .container{overflow: visible;}
.navbar .nav .colored{border-bottom: 2px solid #f00;padding-bottom: 8px;}
.navbar .nav li a{cursor: pointer;}
.navbar .nav li .bottom_fix{padding-bottom: 9px;}
.navbar .nav .divider-vertical{height: 45px;}
.navbar .nav .width-selector li a{padding: 6px 20px;}
.navbar .nav .width-selector li .h1px{background: #000;height: 1px;}
.navbar .nav .width-selector li .h2px{background: #000;height: 2px;}
.navbar .nav .width-selector li .h3px{background: #000;height: 3px;}
.navbar .nav .width-selector li .h4px{background: #000;height: 4px;}
.navbar .nav .width-selector li .h5px{background: #000;height: 5px;}
.navbar .nav .width-selector li .h6px{background: #000;height: 6px;}
.navbar .nav .colorpicker li{margin: 2px 0 2px 5px;border: 1px solid #000;width: 15px;height: 15px;float: left;cursor: pointer;}
.navbar .nav .colorpicker li:hover{border-color: #ccc;}

.panel{position: absolute;right: 5px;top: 5px;background: #999;padding: 4px;border-radius: 3px;}
.panel .btn{padding: 3px 2px 4px 5px; display: block; margin: 3px 0 0 0;}
.panel .btn:first-child{margin: 0;}
.panel .social-share{border: none;padding:4px; margin: -41px 39px; min-width: 113px; border-radius: 3px 0 0 3px;background: none repeat scroll 0 0 #999999;}
.panel .social-share li{display: inline-block;}
.panel .social-share li .btn{height:24px;}
.panel .social-share li .bigicon-vk, .bigicon-twi, .bigicon-fb{margin: -1px 2px 2px 0;}

[class^="bigicon-"],
[class*=" bigicon-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  *margin-right: .3em;
  line-height: 24px;
  vertical-align: text-top;
}
.bigicon-pen{background: url('../img/pen.png');}
.bigicon-brush{background: url('../img/brush.png');width: 25px;}
.bigicon-flower{background: url('../img/flower.png');width: 19px;}
.bigicon-revert{background: url('../img/revert.png');width: 24px;height: 25px;}
.bigicon-edit{background: url('../img/edit.png');width: 24px;height: 21px;}
.bigicon-share{background: url('../img/share.png');width: 22px;height: 22px;}
.bigicon-vk{background: url('../img/vkontakte.png');width: 24px;height: 24px;}
.bigicon-twi{background: url('../img/twitter.png');width: 24px;height: 24px;}
.bigicon-fb{background: url('../img/facebook.png');width: 24px;height: 24px;}
.bigicon-dem{background: url('../img/dem.png');width: 11px;height: 24px;}
.bigicon-lynch{background: url('../img/comments.png');width: 24px;height: 23px;}


.child, .helper {
        display: -moz-inline-block;
        display: inline-block;
        vertical-align: middle;
}
                
.child {
        width: 50%;
}

.helper {
        width: 0;
        height: 100%;
}
        
<!--[if lte IE 7]>
.child, .helper {
        zoom: 1;
        display: inline;
}