<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Crop me!</title>
    <meta name="google-site-verification" content="17JXaSZrSUuWbXFlPt3DpwFNpdMlgTzqq8K_BeJljAw" />
    <meta name="viewport" content="width=320, initial-scale=0.55, maximum-scale=1.0, user-scalable=0"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/contrib/underscore.js"></script>
    <script type="text/javascript" src="/static/js/contrib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/contrib/bootstrap-tab.js"></script>

    <script type="text/javascript" src="/static/js/core.js"></script>
    {% block js %}{% endblock %}

	<link rel="icon" type="image" href="/static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% block style %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>