<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Notify</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/raphael.js"></script>
    <script type="text/javascript" src="/static/js/canvg.js"></script>
    <script type="text/javascript" src="/static/js/svgfix.js"></script>
    <script type="text/javascript" src="/static/js/rgbcolor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/controls.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% block style %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>