{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="/static/js/utils/os.js"></script>
<script type="text/javascript" src="/static/js/widgets/download.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="name"></div>
    <div class="description">
      Самое удобное и быстрое решение для размещения снимков экрана.
    </div>
    <div class="main">
      <img src="static/img/logo.png" alt=""/><br />
      <a href="" class="btn btn-primary btn-download">
        СКАЧАТЬ<br /> 
        <span class="explain"></span>
      </a>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="#use">Иcпользование</a></li>
        <li><a href="#install">Установка</a></li>
        <li><a href="#contact">Обратная связь</a></li>
      </ul>
    </div>
    <div class="content">
      <div id="use">
        <h1>Использование</h1>
        <div class="steps-wrap">
          <ul>
            <li class="img-wrap">
              <img class="img-polaroid" src="static/img/step1.png" alt="" />
            </li>
            <li>
              <b>Шаг 1.</b>
              Запустите CropMe и выделите изображение, которым хотите поделиться.
            </li>
          </ul>
          <img src="static/img/right_arrow.png" alt="" />
          <ul>
            <li class="img-wrap">
              <img class="img-polaroid" src="static/img/step2.png" alt="" />
            </li>
            <li>
              <b>Шаг 2.</b>
              Изображение моментально загружается в интернет и открывается в браузере по сокращенной ссылке.
            </li>
          </ul>
          <img src="static/img/right_arrow.png" alt=""/>
          <ul>
            <li class="img-wrap">
              <img class="img-polaroid" src="static/img/step3.png" alt="" />
            </li>
            <li>
              <b>Шаг 3.</b>
              Делайте отметки, сохраняйте их на изображении и делитесть с друзьями!
            </li>
          </ul>
        </div>
      </div>
      <div id="install">
        <h1>Установка</h1>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#linuxinstall" data-toggle="tab"><h4>Linux</h4></a>
          </li>
          <li><a href="#windowsinstall" data-toggle="tab"><h4>Windows</h4></a></li>
          <li><a href="#macinstall" data-toggle="tab"><h4>Mac</h4></a></li>
        </ul>
        {% include 'nav-content.html' %}
      </div>
      <div id="contact">
          <h1>Обратная связь</h1>
          <div class="steps-wrap">
            <p>Если у Вас возникнут вопросы или пожелания, присылайте их по адресу support@cropme.ru.</p>
          </div>
      </div>
    </div>
  </div>
{% endblock %}