{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="/static/js/utils/os.js"></script>
<script type="text/javascript" src="/static/js/widgets/download.js"></script>
<script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="name"></div>
    <div class="description">
      Самое удобное и быстрое решение для размещения снимков экрана.
    </div>
    <div class="main">
      <img src="/static/img/logo.png" alt=""/><br />
      <a href="" class="btn btn-primary btn-download">
        СКАЧАТЬ<br /> 
        <span class="explain"></span>
      </a>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="#use">Иcпользование</a></li>
        <li><a href="#install">Установка</a></li>
        <li><a href="#contact">Обратная связь</a></li>
      </ul>
    </div>
    <div class="content">
      <div id="use">
        <h1>Использование</h1>
        <div class="steps-wrap">
          <div class="step">
            <div class="img-wrap">
              <img class="img-polaroid" src="/static/img/instructions/step1.png" alt="" />
            </div>
            <div>
              <b>Шаг 1.</b>
              Запустите CropMe и выделите изображение, которым хотите поделиться.
            </div>
          </div>
          <div class="arrow">
            <img src="/static/img/right_arrow.png" alt="" />
          </div>
          <div  class="step">
            <div class="img-wrap">
              <img class="img-polaroid" src="/static/img/instructions/step2.png" alt="" />
            </div>
            <div>
              <b>Шаг 2.</b>
              Изображение моментально загружается в интернет и открывается в браузере по сокращенной ссылке.
            </div>
          </div>
          <div class="arrow">
            <img src="/static/img/right_arrow.png" alt="" />
          </div>
          <div class="step">
            <div class="img-wrap">
              <img class="img-polaroid" src="/static/img/instructions/step3.png" alt="" />
            </div>
            <div>
              <b>Шаг 3.</b>
              Добавляйте отметки и комментарии на изображение, делайте демотиваторы, сохраняйте и делитесь с друзьями!
            </div>
          </div>
        </div>
      </div>
      <div id="install">
        <h1>Установка</h1>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#linuxinstall" data-toggle="tab"><h4>Linux</h4></a>
          </li>
          <li><a href="#windowsinstall" data-toggle="tab"><h4>Windows</h4></a></li>
          <li><a href="#macinstall" data-toggle="tab"><h4>Mac</h4></a></li>
        </ul>
        {% include 'nav-content.html' %}
      </div>
      <div id="contact">
          <h1>Обратная связь</h1>
          <div class="steps-wrap">
            <p>Если у Вас возникнут вопросы или пожелания, присылайте их по адресу <img src="/static/img/mail.png" alt="" /></p>
          </div>
      </div>
      <div id="share">
        <h1>Рассказать о нас</h1>
        <div class="steps-wrap">
          <div class="share-to"><script type="text/javascript" src="/static/js/share/vk.js"></script></div>
          <div class="share-to">
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            <script type="text/javascript" src="/static/js/share/twi.js"></script>
          </div>
          <div class="share-to">
            <script type="text/javascript" src="/static/js/share/fb.js"></script>

            <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
