<div class="nav-content tab-content">
  <div id="linuxinstall" class="tab-pane active">
  <h5>Установка скрипта CropMe на Linux</h5>

  <p>Создаем папку для скриптов в домашней директории</p>
  <pre >mkdir ~/bin</pre>

  <p>Скачиваем скрипт Crop Me</p>
  <pre>wget http://cropme.ru/static/cropme.txt -O ~/bin/cropme </pre>

  <p>Сообщаем системе, что файл исполняемый</p>
  <pre>chmod +x ~/bin/cropme</pre>

  <p>Теперь при необходимости запускаем Crop Me из консоли</p>
  <pre>cropme</pre>
  </div> 
  <div id="windowsinstall" class="tab-pane">
    <ul>
      <li>
        <img class="img-polaroid" src="static/img/instructions/win1.png" alt="" />
      </li>
      <li>
        Скачайте приложение по ссылке <a href="/downloads/cropme-setup.exe">cropme.ru/downloads/cropme-setup.exe</a> и запустите инсталлятор.
      </li>
    </ul>
    <ul>
      <li>
        <img class="img-polaroid" src="static/img/instructions/win2.png" alt="" />
      </li>
      <li>
        Следуйте инструкциям.
      </li>
    </ul>
    <ul>  
      <li>
        <img class="img-polaroid" src="static/img/instructions/win3.png" alt="" />
      </li>
      <li>
         После установки рекомендуем переместить ярлык Crop Me в панель быстрого запуска. Запускайте приложение и пользуйтесь!
      </li>
    </ul>
  </div>
  <div id="macinstall" class="tab-pane">
    <ul>
      <li>
        <img class="img-polaroid" src="static/img/instructions/mac1.png" alt="" />
      </li>
      <li>
        Скачайте приложение по ссылке <a href="/downloads/CropMe.zip">cropme.ru/downloads/CropMe.zip</a>, распакуйте архив.
      </li>
    </ul>
    <ul>
      <li>
        <img class="img-polaroid" src="static/img/instructions/mac2.png" alt="" />
      </li>
      <li>
        Переместите файл в папку Applications.
      </li>
    </ul>
    <ul>
      <li>
        <img  class="img-polaroid" src="static/img/instructions/mac3.png" alt="" />
      </li>
      <li>
        Запускайте приложение и пользуйтесь!
      </li>
    </ul>
    </div>
  </div> 
