<div class="nav-content tab-content">
  <div id="linuxinstall" class="tab-pane active">
  <h5>Установка скрипта CropMe на Linux</h5>

  <p>Создаем папку для скриптов в домашней директории</p>
  <pre >mkdir ~/bin</pre>

  <p>Скачиваем скрипт Crop Me</p>
  <pre>wget http://cropme.ru/static/cropme.txt > ~/bin/cropme</pre>

  <p>Сообщаем системе, что файл исполняемый</p>
  <pre>chmod +x ~/bin/cropme</pre>

  <p>Теперь при необходимости запускаем Crop Me из консоли</p>
  <pre>cropme</pre>
  </div> 
  <div id="windowsinstall" class="tab-pane">
    win win win
  </div> 

  <div id="macinstall" class="tab-pane">
    mac mac mac
  </div> 

</div>
