<div class="nav-content"> 
  <h5>Installing CropMe on Linux</h5>

  <p>Шла Саша по шоссе и сосала сушку. Шла Саша по шоссе и сосала сушку.Шла Саша по шоссе и сосала сушку.</p>
  <pre >cd ~ && wget -O - "https://www.dropbox.com/download?plat=lnx.x86_64" | tar xzf - </pre>

  <p>Шла Саша по шоссе и сосала сушку. Шла Саша по шоссе и сосала сушку.Шла Саша по шоссе и сосала сушку. Шла Саша по шоссе и сосала сушку. Шла Саша по шоссе и сосала сушку. Шла Саша по шоссе и сосала сушку.</p>
  <pre>cd ~ && wget -O - "https://www.dropbox.com/download?plat=lnx.x86_64" | tar xzf - </pre>

  <p>Шла Саша по шоссе и сосала сушку. </p>
  <pre>cd ~ && wget -O - "https://www.dropbox.com/download?plat=lnx.x86_64" | tar xzf - </pre>

  <p>Хэппи энд</p>
</div>
