{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/pencil.css?v=4" />
<link media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="/static/css/mobile.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/contrib/raphael.js"></script>
<script type="text/javascript" src="/static/js/contrib/canvg.js"></script>
<script type="text/javascript" src="/static/js/contrib/svgfix.js"></script>
<script type="text/javascript" src="/static/js/contrib/rgbcolor.js"></script>

<script type="text/javascript" src="/static/js/utils/dimentions.js"></script>
<script type="text/javascript" src="/static/js/pencil/index.js"></script>
<script type="text/javascript" src="/static/js/pencil/controls.js?v=4"></script>
<script type="text/javascript" src="/static/js/dem/index.js?v=4"></script>
<script type="text/javascript" src="/static/js/dem/options.js"></script>
<script type="text/javascript" src="/static/js/dem/text.js"></script>
<script type="text/javascript" src="/static/js/dem/position.js"></script>
<script type="text/javascript" src="/static/js/lynch/index.js"></script>
<script type="text/javascript" src="/static/js/lynch/block.js?v=4"></script>
<script type="text/javascript" src="/static/js/troll/block.js?v=4"></script>
<script type="text/javascript" src="/static/js/widgets/ie.js"></script>
{% endblock %}


{% block content %}

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
    К сожалению, ваш браузер имеет ограниченную поддержку. У вас отключены некоторые функции, в том числе функция сохранения. Используйте браузер Chrome, Firefox, Safari или Opera.
</div>

<div class="navbar">
  <div class="navbar-inner">
    <div style="width: auto; padding: 0 20px;" class="container">

      <a class="btn btn-primary">
      Готово
      </a>
      <div class="ajax"></div>

      <ul class="nav">
        <li class="pencil active"><a><div class="bigicon-pen"></div></a></li>
        
        <li class="dropdown">
          <a href="" data-toggle="dropdown"><div class="bigicon-brush"></div></a>

          <ul class="dropdown-menu width-selector" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="#"><div class="h1px"></div></a></li>
            <li><a tabindex="-1" href="#"><div class="h2px"></div></a></li>
            <li><a tabindex="-1" href="#"><div class="h3px"></div></a></li>
            <li><a tabindex="-1" href="#"><div class="h4px"></div></a></li>
            <li><a tabindex="-1" href="#"><div class="h5px"></div></a></li>
            <li><a tabindex="-1" href="#"><div class="h6px"></div></a></li>
          </ul>          
        </li>

        <li class="dem"><a><div class="bigicon-dem"></div></a></li>
        <li class="macro"><a><div class="bigicon-macro"></div></a></li>
        <li class="lynch"><a><div class="bigicon-lynch"></div></a></li>

        <li class="dropdown troll">
          <a href="" data-toggle="dropdown"><div class="bigicon-troll"></div></a>
          {% include 'troll.html' %}
        </li>

        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a class="colored" data-toggle="dropdown" href="">
            <div class="bigicon-flower"></div>
          </a>

          <ul class="dropdown-menu colorpicker" role="menu" aria-labelledby="dLabel">
            <li style="background:#fff"></li>
            <li style="background:#ddd"></li>
            <li style="background:#aaa"></li>
            <li style="background:#888"></li>
            <li style="background:#555"></li>
            <li style="background:#333"></li>
            <li style="background:#000"></li>

            <li style="background:#f00"></li>
            <li style="background:#f11"></li>
            <li style="background:#f33"></li>
            <li style="background:#f55"></li>
            <li style="background:#f88"></li>
            <li style="background:#faa"></li>
            <li style="background:#fcc"></li>

            <li style="background:#3B8938"></li>
            <li style="background:#39BA32"></li>
            <li style="background:#3f3"></li>
            <li style="background:#5f5"></li>
            <li style="background:#8f8"></li>
            <li style="background:#afa"></li>
            <li style="background:#cfc"></li>

            <li style="background:#00f"></li>
            <li style="background:#11f"></li>
            <li style="background:#33f"></li>
            <li style="background:#55f"></li>
            <li style="background:#88f"></li>
            <li style="background:#aaf"></li>
            <li style="background:#ccf"></li>

          </ul>          
        </li>
        <li class="revert"><a class="bottom_fix"><div class="bigicon-revert"></div></a></li>
      </ul>

    </div>
  </div>
</div>

<div class="hidden">
  {% if request.host == 'localhost:5000' or request.host == '192.168.1.2:5000'  %}
  <img id="patient" src="/static/{{ path }}">
  {% else %}
  <img id="patient" src="/{{ path }}">
  {% endif %}
</div>

<div class="paper-wrap">
  <div class="cell">
  <div class="paper" id="paper"></div>
  </div>
</div>
<canvas id="canvas"></canvas>


{% endblock %}