<ul class="dropdown-menu rage-menu" role="menu" aria-labelledby="dLabel">
  <li>
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#angry" data-toggle="tab">Angry</a>
       </li>
      <li>
        <a href="#annoyed" data-toggle="tab">Annoyed</a>
      </li>
      <li>
        <a href="#cat" data-toggle="tab">Cat</a>
      </li>
      <li>
        <a href="#cerealguy" data-toggle="tab">Cereal Guy</a>
      </li>
      <li>
        <a href="#component" data-toggle="tab">Component</a>
      </li>
      <li>
        <a href="#determined" data-toggle="tab">Determined</a>
      </li>
      <li>
        <a href="#disgudted" data-toggle="tab">Disgudted</a>
      </li>
      <li>
        <a href="#fap" data-toggle="tab">Fap</a>
      </li>
      <li>
        <a href="#foreveralone" data-toggle="tab">Forever Alone</a>
      </li>
      <li>
        <a href="#fuckyeah" data-toggle="tab">Fuck yeah</a>
      </li>
      <li>
        <a href="#fuckthat" data-toggle="tab">Fuck that</a>
      </li>
      <li>
        <a href="#happy" data-toggle="tab">Happy</a>
      </li>
      <li>
        <a href="#megusta" data-toggle="tab">Me gusta</a>
      </li>
      <li>
        <a href="#notbad" data-toggle="tab">Not bad</a>
      </li>
      <li>
        <a href="#neutral" data-toggle="tab">Neutral</a>
      </li>
      <li>
        <a href="#okay" data-toggle="tab">Okay</a>
      </li>
      <li>
        <a href="#rage" data-toggle="tab">Rage</a>
      </li>
      <li>
        <a href="#sad" data-toggle="tab">Sad</a>
      </li>
      <li>
        <a href="#surprised" data-toggle="tab">Surprized</a>
      </li>
      <li>
        <a href="#troll" data-toggle="tab">Troll</a>
      </li>
      <li>
        <a href="#worried" data-toggle="tab">Worried</a>
      </li>
      <li>
        <a href="#other" data-toggle="tab">Other</a>
      </li>
      <li>
        <div class="nav-content tab-content troll">
         <div id="angry" class="tab-pane faces active">
          <img data-img="/static/img/big/angry-bang-bang-bang.png" src="/static/img/small/angry-bang-bang-bang.png">
          <img data-img="/static/img/big/angry-cat-glare.png" src="/static/img/small/angry-cat-glare.png">
          <img data-img="/static/img/big/angry-dark-stare.png" src="/static/img/small/angry-dark-stare.png">
          <img data-img="/static/img/big/angry-desk-flip.png" src="/static/img/small/angry-desk-flip.png">
          <img data-img="/static/img/big/angry-eternal-contempt.png" src="/static/img/small/angry-eternal-contempt.png">
          <img data-img="/static/img/big/angry-evil-smile.png" src="/static/img/small/angry-evil-smile.png">
          <img data-img="/static/img/big/angry-frown.png" src="/static/img/small/angry-frown.png">
          <img data-img="/static/img/big/angry-grinch.png" src="/static/img/small/angry-grinch.png">
          <img data-img="/static/img/big/angry-hitler.png" src="/static/img/small/angry-hitler.png">
          <img data-img="/static/img/big/angry-mom.png" src="/static/img/small/angry-mom.png">
          <img data-img="/static/img/big/angry-must-resist.png" src="/static/img/small/angry-must-resist.png">
          <img data-img="/static/img/big/angry-no.png" src="/static/img/small/angry-no.png">
          <img data-img="/static/img/big/angry-say-what-again.png" src="/static/img/small/angry-say-what-again.png">
          <img data-img="/static/img/big/angry-shaking.png" src="/static/img/small/angry-shaking.png">
          <img data-img="/static/img/big/angry-side-mouth.png" src="/static/img/small/angry-side-mouth.png">
          <img data-img="/static/img/big/angry-unhappy.png" src="/static/img/small/angry-unhappy.png">
          <img data-img="/static/img/big/angry-y-u-no.png" src="/static/img/small/angry-y-u-no.png">
        </div>
        <div id="annoyed" class="tab-pane faces">
<img data-img="/static/img/big/annoyed-are-you-fucking-kidding-me-clean.png" src="/static/img/small/annoyed-are-you-fucking-kidding-me-clean.png">
<img data-img="/static/img/big/annoyed-are-you-fucking-kidding-me-son.png" src="/static/img/small/annoyed-are-you-fucking-kidding-me-son.png">
<img data-img="/static/img/big/annoyed-dude-come-on.png" src="/static/img/small/annoyed-dude-come-on.png">
<img data-img="/static/img/big/annoyed-facepalm-picard.png" src="/static/img/small/annoyed-facepalm-picard.png">
<img data-img="/static/img/big/annoyed-facepalm.png" src="/static/img/small/annoyed-facepalm.png">
<img data-img="/static/img/big/annoyed-im-watching-u.png" src="/static/img/small/annoyed-im-watching-u.png">
<img data-img="/static/img/big/annoyed-mother-of-god.png" src="/static/img/small/annoyed-mother-of-god.png">          
        </div>
        <div id="cat" class="tab-pane faces">
<img data-img="/static/img/big/cat-cat-overload.png" src="/static/img/small/cat-cat-overload.png">
<img data-img="/static/img/big/cat-lol.png" src="/static/img/small/cat-lol.png">
<img data-img="/static/img/big/cat-meh-cat.png" src="/static/img/small/cat-meh-cat.png">
        </div>
        
      <div id="cerealguy" class="tab-pane faces">
<img data-img="/static/img/big/cereal-guy-beer-guy.png" src="/static/img/small/cereal-guy-beer-guy.png">
<img data-img="/static/img/big/cereal-guy-cereal-guy-big-squint.png" src="/static/img/small/cereal-guy-cereal-guy-big-squint.png">
<img data-img="/static/img/big/cereal-guy-cereal-guy-drink-sip.png" src="/static/img/small/cereal-guy-cereal-guy-drink-sip.png">
<img data-img="/static/img/big/cereal-guy-cereal-guy-original.png" src="/static/img/small/cereal-guy-cereal-guy-original.png">
<img data-img="/static/img/big/cereal-guy-cereal-guy-spitting.png" src="/static/img/small/cereal-guy-cereal-guy-spitting.png">
<img data-img="/static/img/big/cereal-guy-newspaper-guy-tear.png" src="/static/img/small/cereal-guy-newspaper-guy-tear.png">
<img data-img="/static/img/big/cereal-guy-newspaper-guy.png" src="/static/img/small/cereal-guy-newspaper-guy.png">
      </div>

      <div id="component" class="tab-pane faces">
        <img data-img="/static/img/big/component-female-black-hair-only-styled.png" src="/static/img/small/component-female-black-hair-only-styled.png">
        <img data-img="/static/img/big/component-female-black-hair-only.png" src="/static/img/small/component-female-black-hair-only.png">
        <img data-img="/static/img/big/component-female-blonde-hair-only.png" src="/static/img/small/component-female-blonde-hair-only.png">
        <img data-img="/static/img/big/component-female-brunette-hair-only.png" src="/static/img/small/component-female-brunette-hair-only.png">
        <img data-img="/static/img/big/component-female-red-hair-only.png" src="/static/img/small/component-female-red-hair-only.png">
        <img data-img="/static/img/big/component-hat-and-monocle-only.png" src="/static/img/small/component-hat-and-monocle-only.png">        
      </div>

      <div id="determined" class="tab-pane faces">
<img data-img="/static/img/big/determined-challenge-accepted-drunk.png" src="/static/img/small/determined-challenge-accepted-drunk.png">
<img data-img="/static/img/big/determined-challenge-accepted.png" src="/static/img/small/determined-challenge-accepted.png">
<img data-img="/static/img/big/determined-challenge-considered.png" src="/static/img/small/determined-challenge-considered.png">
<img data-img="/static/img/big/determined-conflicting-emotions-no-words.png" src="/static/img/small/determined-conflicting-emotions-no-words.png">
<img data-img="/static/img/big/determined-crazy-sweaty-concentrated.png" src="/static/img/small/determined-crazy-sweaty-concentrated.png">
<img data-img="/static/img/big/determined-feel-like-a-ninja.png" src="/static/img/small/determined-feel-like-a-ninja.png">
<img data-img="/static/img/big/determined-feel-like-a-superhero.png" src="/static/img/small/determined-feel-like-a-superhero.png">
<img data-img="/static/img/big/determined-fumanchu-computer-stare.png" src="/static/img/small/determined-fumanchu-computer-stare.png">
<img data-img="/static/img/big/determined-i-am-determined.png" src="/static/img/small/determined-i-am-determined.png">
<img data-img="/static/img/big/determined-not-okay-smile.png" src="/static/img/small/determined-not-okay-smile.png">
<img data-img="/static/img/big/determined-questioning-pondering.png" src="/static/img/small/determined-questioning-pondering.png">
<img data-img="/static/img/big/determined-serious-chiseled-not-okay.png" src="/static/img/small/determined-serious-chiseled-not-okay.png">
<img data-img="/static/img/big/determined-sweaty-concentrated-teeth.png" src="/static/img/small/determined-sweaty-concentrated-teeth.png">
      </div>

      <div id="disgudted" class="tab-pane faces">
<img data-img="/static/img/big/disgusted-impossibru.png" src="/static/img/small/disgusted-impossibru.png">
<img data-img="/static/img/big/disgusted-mother-of-god.png" src="/static/img/small/disgusted-mother-of-god.png">
<img data-img="/static/img/big/disgusted-oh-god-why.png" src="/static/img/small/disgusted-oh-god-why.png">
<img data-img="/static/img/big/disgusted-oh-god.png" src="/static/img/small/disgusted-oh-god.png">        
      </div>

      <div id="fap" class="tab-pane faces">
<img data-img="/static/img/big/fap-fap-accepted.png" src="/static/img/small/fap-fap-accepted.png">
<img data-img="/static/img/big/fap-gentleman.png" src="/static/img/small/fap-gentleman.png">
<img data-img="/static/img/big/fap-now-kiss.png" src="/static/img/small/fap-now-kiss.png">
<img data-img="/static/img/big/fap-schlick-schlick-female.png" src="/static/img/small/fap-schlick-schlick-female.png">
<img data-img="/static/img/big/fap.png" src="/static/img/small/fap.png">        
      </div>

      <div id="foreveralone" class="tab-pane faces">
<img data-img="/static/img/big/sad-forever-alone-clean.png" src="/static/img/small/sad-forever-alone-clean.png">
<img data-img="/static/img/big/sad-forever-alone-face-only.png" src="/static/img/small/sad-forever-alone-face-only.png">
<img data-img="/static/img/big/sad-forever-alone-happy.png" src="/static/img/small/sad-forever-alone-happy.png">
<img data-img="/static/img/big/sad-forever-alone-solo-para-siempre.png" src="/static/img/small/sad-forever-alone-solo-para-siempre.png">        
      </div>

      <div id="fuckyeah" class="tab-pane faces">
<img data-img="/static/img/big/fuck-yeah-aww-yeah.png" src="/static/img/small/fuck-yeah-aww-yeah.png">
<img data-img="/static/img/big/fuck-yeah-clean-smile.png" src="/static/img/small/fuck-yeah-clean-smile.png">
<img data-img="/static/img/big/fuck-yeah-clean.png" src="/static/img/small/fuck-yeah-clean.png">
<img data-img="/static/img/big/fuck-yeah-danny-trejo.png" src="/static/img/small/fuck-yeah-danny-trejo.png">
<img data-img="/static/img/big/fuck-yeah-duck-yeah.png" src="/static/img/small/fuck-yeah-duck-yeah.png">
<img data-img="/static/img/big/fuck-yeah-female-aww-yeah.png" src="/static/img/small/fuck-yeah-female-aww-yeah.png">
<img data-img="/static/img/big/fuck-yeah-gtfo-clean.png" src="/static/img/small/fuck-yeah-gtfo-clean.png">
<img data-img="/static/img/big/fuck-yeah-gtfo-inverted-smile-clean.png" src="/static/img/small/fuck-yeah-gtfo-inverted-smile-clean.png">
<img data-img="/static/img/big/fuck-yeah-melvin.png" src="/static/img/small/fuck-yeah-melvin.png">
<img data-img="/static/img/big/fuck-yeah-meow-yeah.png" src="/static/img/small/fuck-yeah-meow-yeah.png">        
      </div>

<div id="fuckthat" class="tab-pane faces">
<img data-img="/static/img/big/fuck-that-bitch-forever-yao-ming.png" src="/static/img/small/fuck-that-bitch-forever-yao-ming.png">
<img data-img="/static/img/big/fuck-that-bitch-fuck-that-shit!.png" src="/static/img/small/fuck-that-bitch-fuck-that-shit!.png">
<img data-img="/static/img/big/fuck-that-bitch-pirate-yao.png" src="/static/img/small/fuck-that-bitch-pirate-yao.png">
<img data-img="/static/img/big/fuck-that-bitch-scared-yao.png" src="/static/img/small/fuck-that-bitch-scared-yao.png">
<img data-img="/static/img/big/fuck-that-bitch-yao-ming.png" src="/static/img/small/fuck-that-bitch-yao-ming.png">
<img data-img="/static/img/big/fuck-that-bitch-yao-pff.png" src="/static/img/small/fuck-that-bitch-yao-pff.png">
</div>

<div id="happy" class="tab-pane faces">
<img data-img="/static/img/big/happy-awww.png" src="/static/img/small/happy-awww.png">
<img data-img="/static/img/big/happy-ba-dum-tss.png" src="/static/img/small/happy-ba-dum-tss.png">
<img data-img="/static/img/big/happy-big-smile.png" src="/static/img/small/happy-big-smile.png">
<img data-img="/static/img/big/happy-cuteness-overload.png" src="/static/img/small/happy-cuteness-overload.png">
<img data-img="/static/img/big/happy-derpina-eyes-closed.png" src="/static/img/small/happy-derpina-eyes-closed.png">
<img data-img="/static/img/big/happy-derpina.png" src="/static/img/small/happy-derpina.png">
<img data-img="/static/img/big/happy-dolan.png" src="/static/img/small/happy-dolan.png">
<img data-img="/static/img/big/happy-epic-win.png" src="/static/img/small/happy-epic-win.png">
<img data-img="/static/img/big/happy-everything-went-better-than-expected.png" src="/static/img/small/happy-everything-went-better-than-expected.png">
<img data-img="/static/img/big/happy-female.png" src="/static/img/small/happy-female.png">
<img data-img="/static/img/big/happy-grin.png" src="/static/img/small/happy-grin.png">
<img data-img="/static/img/big/happy-happy-poker-face.png" src="/static/img/small/happy-happy-poker-face.png">
<img data-img="/static/img/big/happy-haters-gonna-hate.png" src="/static/img/small/happy-haters-gonna-hate.png">
<img data-img="/static/img/big/happy-i-see-what-you-did-there-(clean).png" src="/static/img/small/happy-i-see-what-you-did-there-(clean).png">
<img data-img="/static/img/big/happy-kitteh-smile.png" src="/static/img/small/happy-kitteh-smile.png">
<img data-img="/static/img/big/happy-lesquee.png" src="/static/img/small/happy-lesquee.png">
<img data-img="/static/img/big/happy-little-kid.png" src="/static/img/small/happy-little-kid.png">
<img data-img="/static/img/big/happy-never-alone.png" src="/static/img/small/happy-never-alone.png">
<img data-img="/static/img/big/happy-oh-stop-it-you.png" src="/static/img/small/happy-oh-stop-it-you.png">
<img data-img="/static/img/big/happy-omega-troll-face.png" src="/static/img/small/happy-omega-troll-face.png">
<img data-img="/static/img/big/happy-pfftch.png" src="/static/img/small/happy-pfftch.png">
<img data-img="/static/img/big/happy-smile-he-he-he.png" src="/static/img/small/happy-smile-he-he-he.png">
<img data-img="/static/img/big/happy-smile.png" src="/static/img/small/happy-smile.png">
<img data-img="/static/img/big/happy-thumbs-up.png" src="/static/img/small/happy-thumbs-up.png">
<img data-img="/static/img/big/happy-winter.png" src="/static/img/small/happy-winter.png">
<img data-img="/static/img/big/happy-yes.png" src="/static/img/small/happy-yes.png">
</div>

<div id="megusta" class="tab-pane faces">
<img data-img="/static/img/big/me-gusta-creepy-me-gusta.png" src="/static/img/small/me-gusta-creepy-me-gusta.png">
<img data-img="/static/img/big/me-gusta-derp-gusta.png" src="/static/img/small/me-gusta-derp-gusta.png">
<img data-img="/static/img/big/me-gusta-ich-mag.png" src="/static/img/small/me-gusta-ich-mag.png">
<img data-img="/static/img/big/me-gusta-indeed.png" src="/static/img/small/me-gusta-indeed.png">
<img data-img="/static/img/big/me-gusta-me-boosta.png" src="/static/img/small/me-gusta-me-boosta.png">
<img data-img="/static/img/big/me-gusta-me-gusta.png" src="/static/img/small/me-gusta-me-gusta.png">
<img data-img="/static/img/big/me-gusta-mother-of-gusta.png" src="/static/img/small/me-gusta-mother-of-gusta.png">
<img data-img="/static/img/big/me-gusta-muy-elegante.png" src="/static/img/small/me-gusta-muy-elegante.png">
<img data-img="/static/img/big/me-gusta-no-me-gusta.png" src="/static/img/small/me-gusta-no-me-gusta.png">
<img data-img="/static/img/big/me-gusta-not-sure-if-gusta.png" src="/static/img/small/me-gusta-not-sure-if-gusta.png">
<img data-img="/static/img/big/me-gusta-troll-gusta.png" src="/static/img/small/me-gusta-troll-gusta.png">
</div>

<div id="notbad" class="tab-pane faces">
<img data-img="/static/img/big/obama-clinton-not-bad.png" src="/static/img/small/obama-clinton-not-bad.png">
<img data-img="/static/img/big/obama-michelle-not-bad.png" src="/static/img/small/obama-michelle-not-bad.png">
<img data-img="/static/img/big/obama-not-bad.png" src="/static/img/small/obama-not-bad.png">
<img data-img="/static/img/big/obama-really-not-bad.png" src="/static/img/small/obama-really-not-bad.png">
</div>

<div id="neutral" class="tab-pane faces">
<img data-img="/static/img/big/neutral-bad-poker-face.png" src="/static/img/small/neutral-bad-poker-face.png">
<img data-img="/static/img/big/neutral-concentrated-red-tongue.png" src="/static/img/small/neutral-concentrated-red-tongue.png">
<img data-img="/static/img/big/neutral-concentrated.png" src="/static/img/small/neutral-concentrated.png">
<img data-img="/static/img/big/neutral-conflicting-emotions.png" src="/static/img/small/neutral-conflicting-emotions.png">
<img data-img="/static/img/big/neutral-dat-ass.png" src="/static/img/small/neutral-dat-ass.png">
<img data-img="/static/img/big/neutral-feel-like-a-liege.png" src="/static/img/small/neutral-feel-like-a-liege.png">
<img data-img="/static/img/big/neutral-feel-like-a-sir-clean.png" src="/static/img/small/neutral-feel-like-a-sir-clean.png">
<img data-img="/static/img/big/neutral-feel-like-a-sir.png" src="/static/img/small/neutral-feel-like-a-sir.png">
<img data-img="/static/img/big/neutral-fsjal.png" src="/static/img/small/neutral-fsjal.png">
<img data-img="/static/img/big/neutral-gentlemen.png" src="/static/img/small/neutral-gentlemen.png">
<img data-img="/static/img/big/neutral-i-am-going-to-fuck-that.png" src="/static/img/small/neutral-i-am-going-to-fuck-that.png">
<img data-img="/static/img/big/neutral-if-you-know-what-i-mean.png" src="/static/img/small/neutral-if-you-know-what-i-mean.png">
<img data-img="/static/img/big/neutral-indeed.png" src="/static/img/small/neutral-indeed.png">
<img data-img="/static/img/big/neutral-its-something.png" src="/static/img/small/neutral-its-something.png">
<img data-img="/static/img/big/neutral-monocle.png" src="/static/img/small/neutral-monocle.png">
<img data-img="/static/img/big/neutral-p-p-p-pokerface.png" src="/static/img/small/neutral-p-p-p-pokerface.png">
<img data-img="/static/img/big/neutral-pfffrrr.png" src="/static/img/small/neutral-pfffrrr.png">
<img data-img="/static/img/big/neutral-pirate-poker-face.png" src="/static/img/small/neutral-pirate-poker-face.png">
<img data-img="/static/img/big/neutral-poker-face-clean.png" src="/static/img/small/neutral-poker-face-clean.png">
<img data-img="/static/img/big/neutral-poker-face-no-text.png" src="/static/img/small/neutral-poker-face-no-text.png">
<img data-img="/static/img/big/neutral-sure-baby.png" src="/static/img/small/neutral-sure-baby.png">
<img data-img="/static/img/big/neutral-suspicious.png" src="/static/img/small/neutral-suspicious.png">
<img data-img="/static/img/big/neutral-sweaty-concentrated.png" src="/static/img/small/neutral-sweaty-concentrated.png">
<img data-img="/static/img/big/neutral-wait.png" src="/static/img/small/neutral-wait.png">
<img data-img="/static/img/big/neutral-whyyyyy.png" src="/static/img/small/neutral-whyyyyy.png">
<img data-img="/static/img/big/neutral-youre-the-man..png" src="/static/img/small/neutral-youre-the-man..png">
</div>

<div id="okay" class="tab-pane faces">
<img data-img="/static/img/big/okay-actually.png" src="/static/img/small/okay-actually.png">
<img data-img="/static/img/big/okay-its-not-okay.png" src="/static/img/small/okay-its-not-okay.png">
<img data-img="/static/img/big/okay-no.png" src="/static/img/small/okay-no.png">
<img data-img="/static/img/big/okay-okay-clean.png" src="/static/img/small/okay-okay-clean.png">
<img data-img="/static/img/big/okay-pfftch-okay.png" src="/static/img/small/okay-pfftch-okay.png">
<img data-img="/static/img/big/okay-sad-shadow.png" src="/static/img/small/okay-sad-shadow.png">
<img data-img="/static/img/big/okay-so-there.png" src="/static/img/small/okay-so-there.png">
</div>

<div id="rage" class="tab-pane faces">
<img data-img="/static/img/big/rage-black.png" src="/static/img/small/rage-black.png">
<img data-img="/static/img/big/rage-canadian.png" src="/static/img/small/rage-canadian.png">
<img data-img="/static/img/big/rage-cat.png" src="/static/img/small/rage-cat.png">
<img data-img="/static/img/big/rage-classic-original.png" src="/static/img/small/rage-classic-original.png">
<img data-img="/static/img/big/rage-classic.png" src="/static/img/small/rage-classic.png">
<img data-img="/static/img/big/rage-classy-rage.png" src="/static/img/small/rage-classy-rage.png">
<img data-img="/static/img/big/rage-crazy-rage.png" src="/static/img/small/rage-crazy-rage.png">
<img data-img="/static/img/big/rage-epic-beard-guy.png" src="/static/img/small/rage-epic-beard-guy.png">
<img data-img="/static/img/big/rage-female.png" src="/static/img/small/rage-female.png">
<img data-img="/static/img/big/rage-herp.png" src="/static/img/small/rage-herp.png">
<img data-img="/static/img/big/rage-horror.png" src="/static/img/small/rage-horror.png">
<img data-img="/static/img/big/rage-lion.png" src="/static/img/small/rage-lion.png">
<img data-img="/static/img/big/rage-mega-rage.png" src="/static/img/small/rage-mega-rage.png">
<img data-img="/static/img/big/rage-no-whyyy.png" src="/static/img/small/rage-no-whyyy.png">
<img data-img="/static/img/big/rage-nuclear.png" src="/static/img/small/rage-nuclear.png">
<img data-img="/static/img/big/rage-omega.png" src="/static/img/small/rage-omega.png">
<img data-img="/static/img/big/rage-pig.png" src="/static/img/small/rage-pig.png">
<img data-img="/static/img/big/rage-ppppiiiikkkk.png" src="/static/img/small/rage-ppppiiiikkkk.png">
<img data-img="/static/img/big/rage-quiet.png" src="/static/img/small/rage-quiet.png">
<img data-img="/static/img/big/rage-rage.png" src="/static/img/small/rage-rage.png">
<img data-img="/static/img/big/rage-red-eyes.png" src="/static/img/small/rage-red-eyes.png">
<img data-img="/static/img/big/rage-reddit-alien.png" src="/static/img/small/rage-reddit-alien.png">
<img data-img="/static/img/big/rage-super-rage.png" src="/static/img/small/rage-super-rage.png">
<img data-img="/static/img/big/rage-unhappy.png" src="/static/img/small/rage-unhappy.png">
</div>

<div id="sad" class="tab-pane faces">
<img data-img="/static/img/big/sad-broken-heart.png" src="/static/img/small/sad-broken-heart.png">
<img data-img="/static/img/big/sad-challenge-failed.png" src="/static/img/small/sad-challenge-failed.png">
<img data-img="/static/img/big/sad-crying.png" src="/static/img/small/sad-crying.png">
<img data-img="/static/img/big/sad-forever-alone-clean.png" src="/static/img/small/sad-forever-alone-clean.png">
<img data-img="/static/img/big/sad-forever-alone-face-only.png" src="/static/img/small/sad-forever-alone-face-only.png">
<img data-img="/static/img/big/sad-forever-alone-happy.png" src="/static/img/small/sad-forever-alone-happy.png">
<img data-img="/static/img/big/sad-forever-alone-solo-para-siempre.png" src="/static/img/small/sad-forever-alone-solo-para-siempre.png">
<img data-img="/static/img/big/sad-i-know-that-feel-clean.png" src="/static/img/small/sad-i-know-that-feel-clean.png">
<img data-img="/static/img/big/sad-numb.png" src="/static/img/small/sad-numb.png">
<img data-img="/static/img/big/sad-oh-no.png" src="/static/img/small/sad-oh-no.png">
<img data-img="/static/img/big/sad-sad.png" src="/static/img/small/sad-sad.png">
<img data-img="/static/img/big/sad-why-inverted.png" src="/static/img/small/sad-why-inverted.png">
</div>

<div id="surprised" class="tab-pane faces">
<img data-img="/static/img/big/surprised-brother-of-inglip.png" src="/static/img/small/surprised-brother-of-inglip.png">
<img data-img="/static/img/big/surprised-cat-gasp.png" src="/static/img/small/surprised-cat-gasp.png">
<img data-img="/static/img/big/surprised-clever-girl.png" src="/static/img/small/surprised-clever-girl.png">
<img data-img="/static/img/big/surprised-gasp.png" src="/static/img/small/surprised-gasp.png">
<img data-img="/static/img/big/surprised-great-scott.png" src="/static/img/small/surprised-great-scott.png">
<img data-img="/static/img/big/surprised-kid.png" src="/static/img/small/surprised-kid.png">
<img data-img="/static/img/big/surprised-long-neck-surprise.png" src="/static/img/small/surprised-long-neck-surprise.png">
<img data-img="/static/img/big/surprised-mother-of-god-bloody.png" src="/static/img/small/surprised-mother-of-god-bloody.png">
<img data-img="/static/img/big/surprised-oh-fuck-no.png" src="/static/img/small/surprised-oh-fuck-no.png">
<img data-img="/static/img/big/surprised-omg.png" src="/static/img/small/surprised-omg.png">
<img data-img="/static/img/big/surprised-open-mouth.png" src="/static/img/small/surprised-open-mouth.png">
<img data-img="/static/img/big/surprised-rage-clean.png" src="/static/img/small/surprised-rage-clean.png">
<img data-img="/static/img/big/surprised-rainbow-face.png" src="/static/img/small/surprised-rainbow-face.png">
<img data-img="/static/img/big/surprised-reaction-guy.png" src="/static/img/small/surprised-reaction-guy.png">
<img data-img="/static/img/big/surprised-surprised-wide-open.png" src="/static/img/small/surprised-surprised-wide-open.png">
<img data-img="/static/img/big/surprised-wait.png" src="/static/img/small/surprised-wait.png">
<img data-img="/static/img/big/surprised-wut.png" src="/static/img/small/surprised-wut.png">
</div>

<div id="troll" class="tab-pane faces">
<img data-img="/static/img/big/troll-baby-troll.png" src="/static/img/small/troll-baby-troll.png">
<img data-img="/static/img/big/troll-black-guy.png" src="/static/img/small/troll-black-guy.png">
<img data-img="/static/img/big/troll-creepy-troll.png" src="/static/img/small/troll-creepy-troll.png">
<img data-img="/static/img/big/troll-devil.png" src="/static/img/small/troll-devil.png">
<img data-img="/static/img/big/troll-gay.png" src="/static/img/small/troll-gay.png">
<img data-img="/static/img/big/troll-granny.png" src="/static/img/small/troll-granny.png">
<img data-img="/static/img/big/troll-hyper-troll.png" src="/static/img/small/troll-hyper-troll.png">
<img data-img="/static/img/big/troll-i-feels-yah-brah.png" src="/static/img/small/troll-i-feels-yah-brah.png">
<img data-img="/static/img/big/troll-i-lied-light.png" src="/static/img/small/troll-i-lied-light.png">
<img data-img="/static/img/big/troll-problem-guy-ok.png" src="/static/img/small/troll-problem-guy-ok.png">
<img data-img="/static/img/big/troll-problemo.png" src="/static/img/small/troll-problemo.png">
<img data-img="/static/img/big/troll-sad-troll-face.png" src="/static/img/small/troll-sad-troll-face.png">
<img data-img="/static/img/big/troll-sincere-troll.png" src="/static/img/small/troll-sincere-troll.png">
<img data-img="/static/img/big/troll-steamboat-trolly.png" src="/static/img/small/troll-steamboat-trolly.png">
<img data-img="/static/img/big/troll-troll-dad-dance-jump.png" src="/static/img/small/troll-troll-dad-dance-jump.png">
<img data-img="/static/img/big/troll-troll-dad-full.png" src="/static/img/small/troll-troll-dad-full.png">
<img data-img="/static/img/big/troll-troll-dad-monocle.png" src="/static/img/small/troll-troll-dad-monocle.png">
<img data-img="/static/img/big/troll-troll-face.png" src="/static/img/small/troll-troll-face.png">
<img data-img="/static/img/big/troll-troll-full.png" src="/static/img/small/troll-troll-full.png">
<img data-img="/static/img/big/troll-troll-hot-chick.png" src="/static/img/small/troll-troll-hot-chick.png">
<img data-img="/static/img/big/troll-trollol.png" src="/static/img/small/troll-trollol.png">
<img data-img="/static/img/big/troll-typing-troll.png" src="/static/img/small/troll-typing-troll.png">
<img data-img="/static/img/big/troll-wayhne-el-porch.png" src="/static/img/small/troll-wayhne-el-porch.png">
</div>

<div id="worried" class="tab-pane faces">
<img data-img="/static/img/big/worried-challenge-denied!.png" src="/static/img/small/worried-challenge-denied!.png">
<img data-img="/static/img/big/worried-oh-shit.png" src="/static/img/small/worried-oh-shit.png">
<img data-img="/static/img/big/worried-omg-run-black.png" src="/static/img/small/worried-omg-run-black.png">
<img data-img="/static/img/big/worried-omg-run-brunette.png" src="/static/img/small/worried-omg-run-brunette.png">
<img data-img="/static/img/big/worried-omg-run-male.png" src="/static/img/small/worried-omg-run-male.png">
<img data-img="/static/img/big/worried-omg-run-red.png" src="/static/img/small/worried-omg-run-red.png">
<img data-img="/static/img/big/worried-omg-run.png" src="/static/img/small/worried-omg-run.png">
<img data-img="/static/img/big/worried-sad-frogman.png" src="/static/img/small/worried-sad-frogman.png">  
</div>


<div id="other" class="tab-pane faces">
<img data-img="/static/img/big/misc-actually-pretty-badass.png" src="/static/img/small/misc-actually-pretty-badass.png">
<img data-img="/static/img/big/misc-aint-that-some-shit.png" src="/static/img/small/misc-aint-that-some-shit.png">
<img data-img="/static/img/big/misc-brad-pitt.png" src="/static/img/small/misc-brad-pitt.png">
<img data-img="/static/img/big/misc-creepy-glasses-guy.png" src="/static/img/small/misc-creepy-glasses-guy.png">
<img data-img="/static/img/big/misc-epic-fail-guy.png" src="/static/img/small/misc-epic-fail-guy.png">
<img data-img="/static/img/big/misc-female-seriously.png" src="/static/img/small/misc-female-seriously.png">
<img data-img="/static/img/big/misc-freddie-mercury.png" src="/static/img/small/misc-freddie-mercury.png">
<img data-img="/static/img/big/misc-french.png" src="/static/img/small/misc-french.png">
<img data-img="/static/img/big/misc-genius.png" src="/static/img/small/misc-genius.png">
<img data-img="/static/img/big/misc-gentlemen-top-hat.png" src="/static/img/small/misc-gentlemen-top-hat.png">
<img data-img="/static/img/big/misc-got-a-badass-over-here.png" src="/static/img/small/misc-got-a-badass-over-here.png">
<img data-img="/static/img/big/misc-grandma.png" src="/static/img/small/misc-grandma.png">
<img data-img="/static/img/big/misc-herp-derp.png" src="/static/img/small/misc-herp-derp.png">
<img data-img="/static/img/big/misc-high.png" src="/static/img/small/misc-high.png">
<img data-img="/static/img/big/misc-huh.png" src="/static/img/small/misc-huh.png">
<img data-img="/static/img/big/misc-i-regret-nothing.png" src="/static/img/small/misc-i-regret-nothing.png">
<img data-img="/static/img/big/misc-i-truthed.png" src="/static/img/small/misc-i-truthed.png">
<img data-img="/static/img/big/misc-if-you-know-what-this-badass-shit-means.png" src="/static/img/small/misc-if-you-know-what-this-badass-shit-means.png">
<img data-img="/static/img/big/misc-jackie-chan.png" src="/static/img/small/misc-jackie-chan.png">
<img data-img="/static/img/big/misc-john-cena.png" src="/static/img/small/misc-john-cena.png">
<img data-img="/static/img/big/misc-le-monkey-face.png" src="/static/img/small/misc-le-monkey-face.png">
<img data-img="/static/img/big/misc-milk.png" src="/static/img/small/misc-milk.png">
<img data-img="/static/img/big/misc-mother-of-metal.png" src="/static/img/small/misc-mother-of-metal.png">
<img data-img="/static/img/big/misc-nerd.png" src="/static/img/small/misc-nerd.png">
<img data-img="/static/img/big/misc-nothing-to-do-here.png" src="/static/img/small/misc-nothing-to-do-here.png">
<img data-img="/static/img/big/misc-ohhh-yes.png" src="/static/img/small/misc-ohhh-yes.png">
<img data-img="/static/img/big/misc-pedobear.png" src="/static/img/small/misc-pedobear.png">
<img data-img="/static/img/big/misc-pedrobear.png" src="/static/img/small/misc-pedrobear.png">
<img data-img="/static/img/big/misc-puking-rainbows.png" src="/static/img/small/misc-puking-rainbows.png">
<img data-img="/static/img/big/misc-seriously.png" src="/static/img/small/misc-seriously.png">
<img data-img="/static/img/big/misc-smashing.png" src="/static/img/small/misc-smashing.png">
<img data-img="/static/img/big/misc-so-hardcore.png" src="/static/img/small/misc-so-hardcore.png">
<img data-img="/static/img/big/misc-spiderpman.png" src="/static/img/small/misc-spiderpman.png">
<img data-img="/static/img/big/misc-t-rex-rage.png" src="/static/img/small/misc-t-rex-rage.png">
<img data-img="/static/img/big/misc-true-story.png" src="/static/img/small/misc-true-story.png">
<img data-img="/static/img/big/misc-will-smith-tada.png" src="/static/img/small/misc-will-smith-tada.png">
<img data-img="/static/img/big/misc-will-smith.png" src="/static/img/small/misc-will-smith.png">
<img data-img="/static/img/big/misc-wolverine-go-fuck-yourself.png" src="/static/img/small/misc-wolverine-go-fuck-yourself.png">
<img data-img="/static/img/big/misc-you-dont-say-female.png" src="/static/img/small/misc-you-dont-say-female.png">
<img data-img="/static/img/big/misc-you-dont-say.png" src="/static/img/small/misc-you-dont-say.png">  
</div>

      </div>
      </li>
    </ul>
  </li>
</ul>