{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/image.css" />
{% endblock %}

{% block content %}
<div class="panel">
  <a href="/pencil{{ request.path }}" class="btn btn-inverse">
    <div class="bigicon-edit"></div>
  </a>

    <a class="dropdown btn btn-inverse" data-toggle="dropdown">
      <div class="bigicon-share"></div>
    </a>
    <ul class="dropdown-menu pull-right social-share" role="menu" aria-labelledby="dLabel">
      <li>
        <a href="http://vkontakte.ru/share.php?url={{ request.host }}{{ request.path }}" class="btn btn-inverse">
           <div class="bigicon-vk"></div>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/share?text={{ request.host }}{{ request.path }}" class="btn btn-inverse">
           <div class="bigicon-twi"></div>
        </a>
      </li>
      <li>
        <a href="http://www.facebook.com/sharer.php?u={{ request.host }}{{ request.path }}" class="btn btn-inverse">
           <div class="bigicon-fb"></div>
        </a>
      </li>
    </ul> 

  
</div>


<div class="content">
  {% if request.host == 'localhost:5000' %}
  <img src="/static/{{ path }}">
  {% else %}
  <img src="/{{ path }}">
  {% endif %}
</div>
{% endblock %}



